@import url(http://fonts.googleapis.com/css?family=Karla:300,400,700);

body {
    font-family:"Karla", Helvetica, Arial;
    font-weight: 400;
    /*color: rgb(30,30,30);*/
    color: rgb(255,255,255);
    background: #80b4ba;
}

h1 {
  font-weight: 700;
  text-align: center;
}

h2 {
  text-align: center;
}

#pause {
  display: block;
  margin:0 auto;
}

.btn {
  border: none;
	color: inherit;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 2 */
.btn-2 {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2i {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	padding: 0;
}

.btn-2i:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-2i:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

#img-player1 {
  /*margin-left: 20%;*/
}
